DATABASE_URL="postgres://postgres:local@127.0.0.1:5432/metric"
TIMESCALE_DATABASE_URL="postgres://postgres:local@127.0.0.1:5433/journal"
TELEGRAM_TOKEN="token"
TELEGRAM_CHAT_ID="12345"
GOOGLE_CLIENT_ID="client-id"
GOOGLE_CLIENT_SECRET="client-secret"
GOOGLE_CALLBACK_URL="http://localhost:8080/auth/google/callback"
SESSION_SECRET="some_super_duper_secret"
